<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960815181980-gqrqkm0l4ut14n21e49bnif9qnv0f40a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960815181980-gqrqkm0l4ut14n21e49bnif9qnv0f40a</string>
	<key>API_KEY</key>
	<string>AIzaSyAoz1D5gGnKhWnQW7oHBoROrFnIvlWuPh0</string>
	<key>GCM_SENDER_ID</key>
	<string>960815181980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipeApp-ios</string>
	<key>PROJECT_ID</key>
	<string>mlkit-66aba</string>
	<key>STORAGE_BUCKET</key>
	<string>mlkit-66aba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960815181980:ios:c1c46e4d166ed8e2b23d59</string>
	<key>DATABASE_URL</key>
	<string>https://mlkit-66aba.firebaseio.com</string>
</dict>
</plist>